/* style.css */
body {
  font-family: sans-serif;
  margin: 20px;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scroll for small screens */
}

#email-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#email-table th, #email-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#email-table th {
  background-color: #f2f2f2;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  #email-table {
    font-size: 14px;
  }
  #email-table th, #email-table td {
    padding: 6px;
  }
}

@media screen and (max-width: 600px) {
  #email-table {
    font-size: 12px;
  }
  #email-table th, #email-table td {
    padding: 4px;
  }
}
